/* Entire page */
* {
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
    max-width: 100%;
    height: 100%;
    margin: 0px;
    font-family: "Bahnschrift", Helvetica, sans-serif;
    letter-spacing: 1.5px;
}

body {
    position: relative;
}

h1 {
    font-size: 5.5vw;
}

a {
    font-size: 3vw;
    color: black;
    text-decoration: none;
}

h2, p {
    font-size: 1.3vw;
}

h3 {
    padding-top: 3%;
}


p {
    font-weight: lighter;
    margin-bottom: 21%;
}

img {
    border: 5px solid black;
    margin-bottom: 20%;
  }

.hidden {
    width: 100%;
    height: 40%;
    display: none;
}

/* Navigation bar */
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Navigation Links */
.navbar a {
    font-size: 1.5vw;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-top: 1.5%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 1%;
    text-decoration: none;
}

.navbar a:after {
    padding: 2px;
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
}

.navbar a:hover::after{
    padding: 0px;
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 2px solid black;
}

.about-row1 {
    display: flex;
    height: 70%;
    width: 100%;
    padding-top: 6vh;
    padding-left: 5vw;
    padding-right: 6vw;
    float: left;
}

.about-row0, .about-row2 {
    height: 28%;
    width: 100%;
    padding-top: 6vh;
    padding-left: 3vw;
    padding-right: 6vw;
    float: left;
}
.about-row3 {
    display: flex;
    height: 100%;
    width: 100%;
    padding-top: 6vh;
    padding-left: 0vw;
    padding-right: 6vw;
    float: left;
}

.column-pic {
    flex: 50%;
    padding-left: 5vw;
}

.column-words {
    flex: 50%;
}

/* Mobile Phone/Tablet View */

@media screen and (max-width: 850px) {

    .navbar {
        background-color: black;
        color: white;
        position: absolute;
        padding-top: 4vh;
        margin-right: 2vh;
        padding-bottom: 4vh;
        padding-right: 60%;
    
    }

    .navbar a {
        background-color: black;
        color: white;
        font-size: 6vw;
        margin-left: 2vw;
        align-items: left;
        float: none;
        text-align: left;
    }

    .about-row0 {
        padding-top: 40vh;
        padding-left: 5vw;
        height: 65%;
    }

    .about-row2 {
        padding-top: 0px;
        padding-left: 5vw;
        height: 30%;
    }

    .about-row1 {
        padding-left: 5vw;
        padding-top: 5%;
        height: 190%;
    }

    .about-row3 {
        padding-left: 5vw;
        padding-top: 0px;
        height: 30%;
    }

    .column-pic {
        display: none;
    }

    h1 {
        font-size: 12vw;
    }

    a {
        font-size: 7vw;
    }

    h2 {
        font-size: 5vw;
        padding-top: 40%;
    }

    h3 {
        display: none;
    }

    p {
        font-size: 4.5vw;
    }

    .hidden {
        display: block;
    }
}