/* Entire page */

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "Bahnschrift", Helvetica, sans-serif;
    letter-spacing: 1.5px;
}

img {
    float: right;
    max-height: 100%;
    padding-right: 25%;
    width: auto;
    image-rendering: -webkit-optimize-contrast;
}

/* Body */

h1 {
    position: relative;
    z-index: -1;
    top: 58%;
    font-size: 6vw;
    padding-left:12%;
}

h2 {
    color: white;
}

/* Navigation bar */
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Navigation Links */
.navbar a {
    font-size: 1.5vw;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-top: 1.5%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 1%;
    text-decoration: none;
}

.navbar a:after {
    padding: 2px;
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
}

.navbar a:hover::after{
    padding: 0px;
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 2px solid black;
}

.row1 {
    height: 100%;
}

[class*="col-"] {
    float: left;
    padding-top: 4%;  
}
.col-1 {
    height: 100%;
    width: 50%;
}
.col-2 {
    height: 100%;
    width: 50%;}

.row2 {
    height: 50%;
    width: 100%;
    background-color: black;
}

.col-3 {
    height: 100%;
    width: 33.33%;
    background-image: url("buttons/AboutLink.png");
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.col-3:hover {
    background-image: url("buttons/AboutHover.png");
}

#aboutlink {
    display: block;
    height: 100%;
    width: 100%;
}

.col-4 {
    height: 100%;
    width: 33.33%;
    background-image: url("buttons/PapersLink.png");
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.col-4:hover {
    background-image: url("buttons/PapersHover.png");
}

#paperslink {
    display: block;
    height: 100%;
    width: 100%;
}

.col-5 {
    height: 100%;
    width: 33.33%;
    background-image: url("buttons/ResumeLink.png");
    background-position: 10%;
    background-repeat: no-repeat;
    background-size: 60% auto;
}

.col-5:hover {
    background-image: url("buttons/ResumeHover.png");
}

#resumelink {
    display: block;
    height: 100%;
    width: 100%;
}

.row3 {
    height: 100%;
    width: 100%;
}

.footer {
    height: 5%;
    width: 100%;
    background-color: black;
}


/*Mobile phone view*/

@media screen and (max-width: 782px) {

    .navbar {
        padding-top: 2vh;
        padding-left: 0;
        padding-right: 80%;
        

    }

    .navbar a {
        font-size: 5vw;
        align-items: left;
        float: none;
        text-align: left;
    }

    h1 {
        font-size: 7vw;
     }

    .col-1 {
        height: 0px;
        width: 0px;
        font-size: 0px;
        color: white;
    }
    .col-2 {
        position: absolute;
        margin-left: 30%;
        height: 100%;
        width:100%;
        padding-top: 32%;
        float: none;

    }

    .row1 {
        width:100%;
        padding-top: 0;
    }

    .row2{
        width:100%;
        width: 0;
    }

    .col-3 {
        width: 100vw;
        height: 40vh;
        background-position: 50%;
        background-size: 80% auto;
        background-color: black;
        background-position: 50% 20%;
    }

    .col-4 {
        width: 100vw;
        height: 40vh;
        background-position: 50%;
        background-size: 80% auto;
        background-color: black;
        background-position: 50% 10%;
    }

    .col-5 {
        width: 100vw;
        height: 40vh;
        background-position: 50%;
        background-size: 80% auto;
        background-color: black;
        background-position: 50% 10%;
    }
}

