/* Entire page */

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "Bahnschrift", Times, serif;
    letter-spacing: 1.5px;
}

img {
    float: right;
    max-height: 100%;
    padding-right: 25%;
    width: auto;
}

/* Body */

h1 {
    position: relative;
    top: 62%;
    font-size: 5vw;
    padding-left:12%;
}

h2 {
    color: white;
}

/* Navigation bar */
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Navigation Links */
.navbar a {
    font-size: 18px;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-top: 1.5%;
    padding-left: 2%;
    padding-bottom: 1%;
    padding-right: 1%;
    text-decoration: none;
}

.navbar a:after {
    padding: 2px;
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
}

.navbar a:hover::after{
    padding: 0px;
    content: "";
    display: block;
    margin: 0 auto;
    width: 100%;
    border-bottom: 2px solid black;
}

.row1 {
    height: 100%;
}

[class*="col-"] {
    float: left;
    padding-top: 4%;  
}

.col-1 {
    height: 100%;
    width: 50%;
}
.col-2 {
    height: 100%;
    width: 50%;}

.row2 {
    height: 50%;
    width: 100%;
    background-color: black;
}

.row3 {
    height: 100%;
    width: 100%;
}

.footer {
    height: 5%;
    width: 100%;
    background-color: black;
}