/* Entire page */

* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: "Bahnschrift", Times, serif;
    letter-spacing: 1.5px;
}

img {
    float: right;
    max-height: 100%;
    padding-right: 25%;
    width: auto;
}

/* Body */

h1 {
    position: fixed;
    bottom: 10%;
    font-size: 5vw;
    padding-left:7%;
}

/* Navigation bar */
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Navigation Links */
.navbar a {
    font-size: 18px;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-top: 2%;
    padding-left: 2%;
    padding-bottom: 0;
    padding-right: 1%;
    text-decoration: none;
}

/* Navigation hover */
.navbar a:hover {
    color: maroon;
}

[class*="col-"] {
    float: left;
    padding-top: 3%;  
}

.col-1 {
    height: 100%;
    width: 50%;
}
.col-2 {
    height: 100%;
    width: 50%;}
.col-3 {width: 100%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}