/* Body */
body {
    font-family: "Bahnschrift", Times, serif;
    letter-spacing: 1.5px;
    margin-top: 100px;
    margin-left: 30px;
}

h1 {
    font-size: 60px;
}

/* Navigation bar */
.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
}

/* Navigation Links */
.navbar a {
    font-size: 18px;
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-right: 45px;
    text-decoration: none;
}

/* Navigation hover */
.navbar a:hover {
    color: maroon;
}

